# Supabase
SUPABASE_URL=https://ehoihmlbviviunsidisy.supabase.co
SUPABASE_ANON_KEY=tu-anon-key-aqui
SUPABASE_SERVICE_KEY=tu-service-key-aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtqn44tkx
CLOUDINARY_API_KEY=524221722264325
CLOUDINARY_API_SECRET=bh38OHxGpfFW1WqHr4zqiN5Hc8A

# Server
PORT=3000
NODE_ENV=development
